@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "./theme.css";
@import "./animation.css";

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  overflow-x: hidden;
}

.custom-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 10px 1px;
}

.red-text {
  color: var(--sec-text);
}

.bold-text {
  font-weight: bold;
}

.hover-underline:hover {
  text-decoration: underline;
}
